img{
    width: 250px;
    display: block;
    height: 350px;
    box-shadow: 0px 0px 10px;
}
div{
    background-color: black;
    color: aliceblue;
    display: inline-block;
    text-align: center;
    border: 5px solid;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
}
body{
    background-color: black;
    text-align: center;
}
h1{
    color: aliceblue;
    font-size: 35px;
}
a{
    color: aqua;
    font-size: 18px;
}
h2{
    font-size: 30px;
}
.blue{
    box-shadow: 0px 0px 10px blue;
}
.yellow{
    box-shadow: 0px 0px 10px yellow;
}
